.fruit{
    padding: 2px;
    margin: 5px;
}
.contaniers{
    padding: 10px;
    margin: 2px;
    text-align: center;
    justify-content: center;
}

.container-fluid .navbar-brand .img{
    border-radius: 0.4rem;
}
.card img{
    border-radius: 2.5px;
}